/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
  /* font-family: Segoe UI, Segoe WP, Tahoma, Arial, sans-serif !important; */
  line-height: 1.42857143 !important;
}

/* body {
  background: url(/assets/img/gradientWawes.svg) center top / cover no-repeat,
    linear-gradient(
      180deg,
      rgba(128, 34, 36, 0.2) 0%,
      rgba(128, 34, 36, 0.8) 100%
    );
} */

body {
  background: url(/assets/img/fondos_encuestas/fondo_principal.svg) no-repeat center center / cover;
}

hr {
  padding: 0;
  margin: 0 0 0 -22px;
  width: 105%;
}

textarea:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

textarea {
  resize: none;
  border-color: #fff;
}

ol li {
  font-size: 12.5px;
  padding-top: 1.1rem;
}

button.btn{
  background: linear-gradient(50deg, #fa7d39, #9e011b);
  border-color: unset;
}

button.btn:hover{
  border-color: #9e011b;
}

button.btn:active{
  background-color: #fa7d39 !important;
  border-color: #9e011b !important;
}

button.btn.active{
  background-color: #fa7d39 !important;
  border-color: #9e011b !important;
}

::-webkit-scrollbar {
  display: none;
}

.loaderPage {
  width: 16%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 15rem;
}

.firstSeccionTitle {
  /* margin: 0 0 1.5rem 0; */
  margin: 0 0 0 0;
}
.modal-titte {
  font-size: 12px;
}

.modal-dialog {
  margin-top: 6rem;
  max-width: 580px;
}

.modal.fade.show {
  display: block;
}

.modal.fade .modal-header {
  /* background-color: #802224; */
  /* background: linear-gradient(50deg, #fa7d39, #9e011b); */
  background: url(/assets/img/fondos_encuestas/Pleca_superior.svg) no-repeat center center / cover;
  color: #fff;
}

.modal.fade .modal-body p {
  text-align: justify;
}

.row.main-row {
  width: 100%;
  overflow: auto;
}

.row.main-row.hide {
  display: none;
}

.col-md-6.hiddenSurvey {
  opacity: 0;
}

.col-md-6.main {
  height: 97.5vh;
  margin-left: 6rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
}

.card-header {
  /* background-color: #802224; */
  /* background: linear-gradient(50deg, #ff8c47, #9e011b); */
  background: url(/assets/img/fondos_encuestas/Pleca_superior.svg) no-repeat center center / cover;
  color: #fff;
  padding: 1.5rem 2rem 1rem 2rem;
  display: flex;
  gap: 1.5rem;
  text-align: justify;
}

.card-header img {
  margin-top: 0.6rem;
}

.card-header {
  p:first-child {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.4rem;
  }

  p:nth-child(2) {
    font-size: 15px;
    margin-bottom: 0.4rem;
  }
}

.card-body {
  padding: 1rem 1.5rem 0 1.5rem;
  /* height: 145vh; */
  height: auto;
}

.obligatorio_paragraph {
  font-weight: 400;
  font-size: 11.5px;
  display: flex;
  gap: 0.2rem;

  .obligatorio {
    color: #bc2f32;
    font-size: 14px;
  }
}

.obligatorio {
  color: #bc2f32;
  font-size: 14px;
}

.ms-1 {
  margin-left: 0.25rem;
}

.card-body .row.title {
  margin-top: -0.3rem;
  margin-left: 0;

  .client {
    margin-top: -0.6rem;
  }

  .project,
  .footer {
    margin-top: -0.8rem;
  }

  .firstSeccionTitle {
    div {
      font-weight: 500;
      color: #413b3b;

      p span {
        font-size: 12.5px;
        margin-top: 0.15rem;
      }
    }

    .client {
      display: flex;
      gap: 0.5rem;
    }

    .nameClient,
    .project,
    .footer,
    .codeProjectClient,
    .nameProjectClient {
      display: flex;
      gap: 0.5rem;
      white-space: nowrap;

      strong {
        color: #3a3939;
        font-size: 15px;
      }
    }
  }
}

.row.questionSection {
  margin-bottom: -1rem;
}

.row.questionSection .col-md-1 {
  margin-left: -1rem;
  margin-right: 0.15rem;
}

.numberQuestion {
  font-size: 13.5px;
  margin: 0.4rem 0.4rem;
  /* padding: 0.2rem; */
  padding: 0.4rem 0.3rem 0.2rem 0.2rem;
  text-align: center;
  /* background-color: #802224; */
  background-color: #ec5435;
  color: #fff;
  font-weight: 600;
  border-radius: 1rem;
}

.descriptionQuestion {
  margin: 0.6rem 0 0 -1.8rem;
  padding: 0;
  font-weight: 600;
  font-size: 17px;
}

.answerSection .col-md-11 {
  padding-left: 0;
  font-size: 13px;
  font-weight: 500;
}

.answerSection .responses .puntuacionSection span {
  padding: 0.5rem 0.8rem;
  /* background-color: beige; */
  background-color: rgb(252, 106, 65, 0.3);
  border-radius: 0.5rem;
}

.answerSection .responses .puntuacionSection span:hover {
  /* background-color: #fff; */
  background-color: rgb(252, 106, 65, 0.8);
  color: #fff;
  cursor: pointer;
}

.answerSection .responses .puntuacionSection {
  display: flex;
  /* gap: 0.5rem; */
  justify-content: space-evenly;
  padding-top: 0.5rem;
  margin-left: -1.3rem;
}

.answerSection .responses .puntuacionSection .multiple-section {
  display: grid;
  /* flex-direction: column; */
  gap: 0.5rem;
  width: 92%;

  .group-question {
    display: flex;
    gap: 0.5em;

    div {
      padding: 0.5rem 0.15rem;
    }

    span {
      width: 100%;
      /* font-size: 12px; */
      font-size: 11.5px;
    }
  }
}

.answerSection .responses .labels {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: -1rem;
}

.groupQuestionSection .row.answerSection.justify-content-center {
  margin-bottom: 0.5rem !important;
}

.selected {
  /* background-color: aquamarine !important; */
  background-color: rgb(252, 106, 65, 0.8) !important;
  color: #fff;
}

textarea {
  width: 92% !important;
  border-radius: 0.8rem;
  padding: 0.75rem;
}

/* Apartado de moviles */

@media screen and (max-width: 1919px) and (orientation: portrait) {
  .loaderPage {
    width: 16%;
    height: 100vh;
    margin: 0 auto 0 12rem;
    padding-top: 15rem;
  }

  .loader {
    margin-left: -8.5rem !important;
    margin-top: -3rem;
  }

  .modal-dialog {
    width: 94%;
  }

  .row.main-row {
    width: auto;
    height: 100vh;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 98% !important;
    max-width: 98% !important;
    margin-left: 0 !important;
    padding-right: 0px;
    padding-left: 10px;
  }

  .descriptionQuestion {
    font-size: 14px;
  }

  .responses ol li {
    font-size: 12px;
  }

  .mt-5 {
    margin-top: 0 !important;
  }

  .card-header.main {
    flex-direction: column;
    margin-left: 0 !important;
    padding: 0 1rem;

    img {
      margin: 1rem auto -1rem auto;
      width: 30%;
      height: auto;
    }

    .descriptionSection {
      font-size: 11px;
      text-align: left;
    }

    p:first-child {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 0.4rem;
    }

    .card {
      width: 100% !important;
    }
  }

  .firstSeccionTitle {
    margin-top: -1.2rem;

    strong {
      font-size: 13px;
    }

    p {
      margin-bottom: 0.5rem;
      padding-bottom: 0;
      font-size: 12px;
    }

    .client {
      margin-bottom: 0.5rem;
    }

    .project {
      flex-direction: column;
      gap: 0 !important;
      margin-top: 0 !important;
    }
    .project .codeProjectClient,
    .project .nameProjectClient {
      display: flex;
    }
  }

  .card-body {
    padding: 0.5rem;

    .row {
      padding: 0;
      margin: -10px;
    }

    .col-md-12 {
      padding: 0.5rem;
    }
  }

  .groupQuestionSection {
    margin-left: -0.5rem;
    margin-top: 0.5rem;
  }

  .row.questionSection {
    margin-top: 0.5rem;

    display: flex;
    flex-wrap: nowrap;

    .col-md-1 {
      width: 20%;

      .numberQuestion {
        font-size: 12px;
      }
    }

    .col-md-11 {
      width: 80%;

      .descriptionQuestion {
        font-size: 13px;
      }
    }
  }

  .botonera .col-md-6 {
    text-align: center !important;
  }

  /* .answerSection .responses .puntuacionSection span {
      padding: 0.4rem 0.6rem;
      background-color: beige;
      border-radius: 0.5rem;
  } */
}
